@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.container {
  background-color: #1F1E1E;
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 52.083vw;
  height: 33.438vw;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pc .text-content {
  padding-top: 5.573vw;
  padding-bottom: 5.625vw;
  width: 18.438vw;
  height: 24.444vh;
  font-weight: 700;
  display: flex;
  padding-left: 4.688vw;
  flex-direction: column;
  justify-content: center;
}

.image-container {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.box img {
  width: 20.573vw;
  padding-right: 3.056vh;
  height: 29.479vw;
}

h1, p {
  margin: 0;
}

.font-20px {
  font-size: 1.042vw;
}

.font-42px {
  font-size: 2.188vw;
}

.font-18px {
  font-size: 0.938vw;
}

.gray {
  color: #86868B;
}

.white {
  color: #FFFFFF;
}

.description {
  padding-top: 1.146vw;
}

.judul {
  padding-top: 0.781vw;
}

.mb {
  width: 83.333vw;
  height: 152.778vw;
}

.mb {
  display: none;
}

.mb img {
  width: 54.861vw;
  height: 78.611vw;
}

.mb .image-container {
  display: flex;
  height: auto;
  padding-left: 20.972vw;
}

.mb .text-content {
  width: 64.861vw;
  padding-top: 5.833vw;
}

.mb .description {
  padding-top: 5.833vw;
}

.judul-mobile {
  width: 47.083vw;
  padding-top: 2.361vw;
}

.mb .font-20px {
  font-size: 2.778vw;
}

.mb .font-42px {
  font-size: 5.833vw;
}

.mb .font-18px {
  font-size: 2.5vw;
}

@media (max-width: 721px) {
  .pc {
    display: none;
  }

  .mb {
    display: block;
  }

  .mb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .judul-mobile {
    width: 47.083vw;
    height: 14.167vw;
  }
  
}